.brandImage {
  height: 35px;
  width: 35px;
}

.alertDiv {
  min-height: 66px;
}

.ad {
  border: solid blue;
  min-height: 88px;
}

.imageCanvas {
  margin: auto;
  max-width: 970px;
}

div.container {
  max-width: 1010px;
  /* background-color: lightcoral; */
}

div.content-container {
  /* background-color: palegreen; */
}

.galleryImageThumb {
  max-width: 200;
}

.editIcon {
  position: absolute;
  bottom: 0px;
  right: 25px;
}
.deleteIcon {
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.galleryText {
  position: absolute;
  top: 0px;
  left: 210px;
}

.booksGalleryText {
  position: absolute;
  top: 0px;
  left: 15px;
}

.statsTable td {
  width: 33%;
}

#root {
  /* background-color: lightblue; */
  position: relative;
  min-height: 92vh;
}

.footerPin {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px; /* Footer height */
}

@media screen and (min-width: 600px) {
  .authForms {
    max-width: 40%;
    /* background-color: pink; */
  }
  body {
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 220px;
  }
}
